# -*- coding: utf-8; mode: gitignore; -*-

!.gitkeep

# Emacs template files
\#*#
*~

# object files
*.o
*.lo
*.Plo
*.ko
*.obj
*.elf

# autotools files
*.pc
Makefile
Makefile.in
config.h.in
config.h
compile
config.guess
config.sub
config.status
configure
depcomp
elisp-comp
install-sh
mdate-sh
stamp-h1
missing
mkinstalldirs
py-compile
texinfo.tex
ylwrap
aclocal.m4
libtool
ltmain.sh
test-driver

# libraries
*.lib
*.a
*.la

# shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib
src/uni

# executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# other files
*.log

# build use directory
.libs/
.deps/

# autotools directory
builds/m4
autom4te.cache/
